<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-config.dtd">    
<configuration>
    <!-- 拦截器翻页时使用 支持oracle 和 mysql 数据库 通过databaseType来区分 -->
    <plugins>
        <plugin interceptor="com.cn.ts.frame.utils.PageInterceptor">
            <property name="databaseType" value="oracle" />
        </plugin>
    </plugins>
</configuration>